.input {
  padding: 12px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 3px;
  margin: 5px 0;
  width: 100%;
  transition: all 0.4s ease;
  text-transform: capitalize;
}

.input:focus {
  border: 1px solid var(--primary);
}
